:root {
  --text-white: #f3f3f4;
  --text-primary: #70727c;
  --text-black: black;
  --color-primary: #ee4266;
}

* {
  box-sizing: inherit;
  font-family: Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
html {
  font-size: 62.5%;
  line-height: 1.7;
  font-weight: 300;
  box-sizing: border-box;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
.grid__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}

.grid__column-6_12 {
  width: 50%;
  padding: 0 4px;
}

.grid__column-8_12 {
  width: 12.5%;
}
.grid__column-4_12 {
  width: 25%;
}

/* section 2 */
.grid__column-section-2 {
  width: 25%;
  padding: 0px 4px;
}

/* section 3 */

.grid__column-section-3 {
  width: 16.6667%;
  padding: 4px;
}

/* moveLeft */
.moveLeft {
  display: flex;
  max-width: 100%;
  overflow: hidden;
}
.section_2-1-product {
  transition: all 0.75s ease;
}
.grid__column-section-2:hover .section_2-1-product {
  transform: translateX(-100%);
}
/*  */
.btn {
  height: 43px;
  font-size: 1.3rem;
  padding: 6px 12px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid;
  border-radius: 5px;
  line-height: 3rem;
  display: block;
  text-decoration: none;
  font-weight: 500;
}
.btn:hover {
  opacity: 0.8;
}
